/* -------------------------------------------------------------------------------- */
/*	THEME BASE CSS
/* -------------------------------------------------------------------------------- */

/* === DEBUGGING TOOLS === */
/*
 *{outline:1px solid indigo!important}
 *{ background-color: rgba(0,0,0,0.1) }
*/

/* === TEXT SELECTION === */

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-on-primary);
  background: var(--color-primary);
}

::selection {
  color: var(--color-on-primary);
  background: var(--color-primary);
}

.clearfix::after,
.entry-content::after {
  content: "";
  clear: both;
  display: table;
}

/* === SITE HEADER === */

#header {
  padding: var(--grid-spacing) 0;
  z-index: 11;
  position: relative;
}

#logo a {
  display: inline-block;
}

#logo img {
  width: var(--logo-width);
  height: auto;
}

@media screen and (min-width: 768px) {
  #siteinfo {
    max-width: calc(var(--logo-width) + var(--grid-spacing));
  }
}

/* Active item link color in WP navigation menu */
li.current-menu-item a {
  color: var(--color-primary-dark);
}


/* === ARTICLES === */
header.article-header .entry-title a {
  text-decoration:none;
}

header.article-header .post-meta {
  margin-bottom: 1.5em
}

header.article-header .post-meta span {
  margin-right: 1em;
}

header.article-header .post-meta,
header.article-header .post-meta a {
  font-size: 0.8rem;
  color: var(--color-gray-6);
  text-decoration:none;
  text-transform: uppercase
}

header.article-header .post-meta .post-meta-categories a {
  color: var(--color-primary)
}
header.article-header .post-meta .post-meta-categories a:hover {
color: var(--color-primary-dark);
}

.entry-content,
.article-footer {
  margin-bottom: 1rem;
}

.entry-content ul, .entry-content ol {
  padding-bottom:1rem;
}

/*Page navigation*/
ul.page-numbers {
  margin: 1rem 0;
  padding: 0;
}

ul.page-numbers li {
  display: inline-block;
}