/* -------------------------------------------------------------------------------- */
/*	THEME BASE CSS
/* -------------------------------------------------------------------------------- */

/* === TEXT SELECTION === */

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-on-primary);
  background: var(--color-primary);
}

::selection {
  color: var(--color-on-primary);
  background: var(--color-primary);
}

.clearfix::after,
.entry-content::after {
  content: "";
  clear: both;
  display: table;
}

/* === SITE HEADER === */


#logo img {
  width: var(--logo-width);
  height: auto;
}

@media screen and (min-width: 768px) {
  #siteinfo {
    max-width: calc(var(--logo-width) + var(--grid-spacing));
  }
}

header.header {
  z-index:2;
  position:relative;
  padding-top:var(--grid-spacing);
}

header.header, header.article-header .post-meta {
  padding-bottom:var(--grid-spacing);
}

/* === ARTICLES === */

header.article-header .post-meta,
header.article-header .post-meta a {
  font-size: 0.8rem;
  color: var(--color-gray-6);
  text-decoration: none;
  text-transform: uppercase
}


.post-meta__categories,
.post-meta__author,
.post-meta__posted-on{
  margin-right:var(--grid-spacing);;
}

.post-meta__categories a {
  color: var(--color-primary)
}

.post-meta__categories a:hover {
  color: var(--color-primary-dark);
}

.entry-title a, .comment-meta a {text-decoration: none;}

.entry-content ul,
.entry-content ol {
  padding-bottom: 1rem;
}

.entry-content, footer.article-footer{margin-bottom: var(--grid-spacing);}

/*Page navigation*/
ul.page-numbers {
  margin: 1rem 0;
  padding: 0;
}

#logo a,
ul.page-numbers li {
  display: inline-block;
}