/* -------------------------------------------------------------------------------- */
/*	FORMS CSS
/* -------------------------------------------------------------------------------- */

/*
Some inspiration:
https://www.w3schools.com/html/html_form_input_types.asp
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Advanced_styling_for_HTML_forms
https://picturepan2.github.io/spectre/elements/forms.html
*/



/*Basic styles*/
label,
input,
textarea,
select
{
    font-family: var(--font-text), var(--font-fallback);
    color: var(--color-on-background);
}


input,
textarea,
select
{
    background-color: var(--form-element-bg);
    background-image: none;
    border: .05rem solid var(--form-element-border);
    display: inline-block;
    font-size: .8rem;
    line-height: 1.2rem;
    max-width: 100%;
    outline: 0;
    padding: 0.325rem 0.7rem;
    position: relative;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
}


/*Reset styles for some input fields and textarea*/
button {
    border: 0;
}

textarea,
input[type="checkbox"],
input[type="radio"] {
    height: auto;
}

input[type="checkbox"],
input[type="radio"],
input[type="submit"] {
    width: auto;
}

textarea {
    /* Move the label to the top */
    vertical-align: top;
    /* Turn off scroll bars in IE unless needed */
    overflow: auto;
}

/*Focus*/

input:focus,
textarea:focus,
select:focus {
    border-color: var(--form-element-border-focus);
    box-shadow: 0 0 0.2rem var(--form-element-border-focus);
}

/*Placeholders*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--form-text-placeholder);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--form-text-placeholder);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: var(--form-text-placeholder);
}

input::placeholder,
textarea::placeholder {
    color: var(--form-text-placeholder);
}



/* Select only styles */
select {
    vertical-align: middle;
}

select[multiple] {
    /* Move the label to the top */
    vertical-align: top;
}

select:not([multiple]):not([size]),
input[type="date"] {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center/.4rem .5rem;
    padding-right: 1.2rem;
}


/*RADIO BUTTONS AND CHECKBOXES*/
input[type="checkbox"],
input[type="radio"] {
    /*float:left*/
    margin: .46rem 0.4rem .46rem 0;
    cursor: pointer;
}