/* -------------------------------------------------------------------------------- */
/*	REFLEX GRID : http://reflexgrid.com/docs/
/* -------------------------------------------------------------------------------- */

/*
Usage:
<div class="grid">
    <div class="col-6">
        <content>
    </div>
</div>

  /*== Breakpoints ==
col-
    does not collapse
col-xs-
    collapses below 576px
col-sm-
    collapses below 768px
col-md-
    collapses below 992px
col-lg-
    collapses below 1200px
col-xl-
    collapses below 1600px
*/

.container.fluid {
    width: 100%;
    max-width: var(--container-max-width) !important
}

.container {
    padding-right: var(--grid-spacing-h);
    padding-left: var(--grid-spacing-h)
}

@media screen and (min-width: 320px) {
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: var(--grid-spacing);
        padding-left: var(--grid-spacing)
    }
}
/*
.container .grid {
    margin-right: var(--grid-spacing-hn);
    margin-left: var(--grid-spacing-hn)
}*/

.wrapper {
    margin: 0 auto;
    max-width: var(--wrapper-max-width);
    padding: 0;
}

@media (min-width: 576px) {
    .container,
    .alignwide {
        max-width: 576px
    }
}

@media (min-width: 768px) {
    .container,
    .alignwide {
        max-width: 768px
    }
}

@media (min-width: 992px) {
    .container,
    .alignwide {
        max-width: 992px
    }
}

@media (min-width: 1200px) {
    .container,
    .alignwide {
        max-width: 1200px
    }
}

@media (min-width: 1600px) {
    .container,
    .alignwide {
        max-width: var(--container-max-width)
    }
}


.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    position: relative;
    letter-spacing: normal;
    list-style-type: none
}

.grid::before,
.grid::after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal
}

[class*="col-"] {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: var(--grid-spacing-h);
    display: inline-block;
}

[class*="col-"]::before,
[class*="col-"]::after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal
}

[class*="col-"] .grid {
    flex: 1 1 auto;
    margin: var(--grid-spacing-hn)
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.666667%
}

.col-10 {
    width: 83.333333%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.666667%
}

.col-7 {
    width: 58.333333%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.666667%
}

.col-4 {
    width: 33.333333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.666667%
}

.col-1 {
    width: 8.333333%
}

@media (min-width: 576px) {
    .col-xs-12 {
        width: 100%
    }

    .col-xs-11 {
        width: 91.666667%
    }

    .col-xs-10 {
        width: 83.333333%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-8 {
        width: 66.666667%
    }

    .col-xs-7 {
        width: 58.333333%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-5 {
        width: 41.666667%
    }

    .col-xs-4 {
        width: 33.333333%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-2 {
        width: 16.666667%
    }

    .col-xs-1 {
        width: 8.333333%
    }
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.666667%
    }

    .col-sm-10 {
        width: 83.333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.666667%
    }

    .col-sm-7 {
        width: 58.333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.666667%
    }

    .col-sm-4 {
        width: 33.333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.666667%
    }

    .col-sm-1 {
        width: 8.333333%
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.666667%
    }

    .col-md-10 {
        width: 83.333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.666667%
    }

    .col-md-7 {
        width: 58.333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.666667%
    }

    .col-md-4 {
        width: 33.333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.666667%
    }

    .col-md-1 {
        width: 8.333333%
    }
}

@media (min-width: 1200px) {
    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.666667%
    }

    .col-lg-10 {
        width: 83.333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.666667%
    }

    .col-lg-7 {
        width: 58.333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.666667%
    }

    .col-lg-4 {
        width: 33.333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.666667%
    }

    .col-lg-1 {
        width: 8.333333%
    }
}

@media (min-width: 1600px) {
    .col-xl-12 {
        width: 100%
    }

    .col-xl-11 {
        width: 91.666667%
    }

    .col-xl-10 {
        width: 83.333333%
    }

    .col-xl-9 {
        width: 75%
    }

    .col-xl-8 {
        width: 66.666667%
    }

    .col-xl-7 {
        width: 58.333333%
    }

    .col-xl-6 {
        width: 50%
    }

    .col-xl-5 {
        width: 41.666667%
    }

    .col-xl-4 {
        width: 33.333333%
    }

    .col-xl-3 {
        width: 25%
    }

    .col-xl-2 {
        width: 16.666667%
    }

    .col-xl-1 {
        width: 8.333333%
    }
}

.col-auto {
    flex: 1 0 0px;
    width: auto
}

@media (min-width: 576px) {
    .col-xs-auto {
        flex: 1 0 0px;
        width: auto
    }
}

@media (min-width: 768px) {
    .col-sm-auto {
        flex: 1 0 0px;
        width: auto
    }
}

@media (min-width: 992px) {
    .col-md-auto {
        flex: 1 0 0px;
        width: auto
    }
}

@media (min-width: 1200px) {
    .col-lg-auto {
        flex: 1 0 0px;
        width: auto
    }
}

@media (min-width: 1600px) {
    .col-xl-auto {
        flex: 1 0 0px;
        width: auto
    }
}

.order-5 {
    order: 5
}

.order-4 {
    order: 4
}

.order-3 {
    order: 3
}

.order-2 {
    order: 2
}

.order-1 {
    order: 1
}

.order-0 {
    order: 0
}

@media only screen and (min-width: 576px) {

    .order-xs-5 {
        order: 5
    }

    .order-xs-4 {
        order: 4
    }

    .order-xs-3 {
        order: 3
    }

    .order-xs-2 {
        order: 2
    }

    .order-xs-1 {
        order: 1
    }

    .order-xs-0 {
        order: 0
    }
}

@media only screen and (min-width: 768px) {

    .order-sm-5 {
        order: 5
    }

    .order-sm-4 {
        order: 4
    }

    .order-sm-3 {
        order: 3
    }

    .order-sm-2 {
        order: 2
    }

    .order-sm-1 {
        order: 1
    }

    .order-sm-0 {
        order: 0
    }
}

@media only screen and (min-width: 992px) {

    .order-md-5 {
        order: 5
    }

    .order-md-4 {
        order: 4
    }

    .order-md-3 {
        order: 3
    }

    .order-md-2 {
        order: 2
    }

    .order-md-1 {
        order: 1
    }

    .order-md-0 {
        order: 0
    }
}

@media only screen and (min-width: 1200px) {

    .order-lg-5 {
        order: 5
    }

    .order-lg-4 {
        order: 4
    }

    .order-lg-3 {
        order: 3
    }

    .order-lg-2 {
        order: 2
    }

    .order-lg-1 {
        order: 1
    }

    .order-lg-0 {
        order: 0
    }
}

@media only screen and (min-width: 1600px) {

    .order-xl-5 {
        order: 5
    }

    .order-xl-4 {
        order: 4
    }

    .order-xl-3 {
        order: 3
    }

    .order-xl-2 {
        order: 2
    }

    .order-xl-1 {
        order: 1
    }

    .order-xl-0 {
        order: 0
    }
}

.wrap {
    flex-wrap: wrap
}

.no-wrap {
    flex-wrap: nowrap
}

.no-wrap [class*="col-"] {
    flex-shrink: 1
}

.wrap-reverse {
    flex-wrap: wrap-reverse
}

.direction-row {
    flex-direction: row
}

.direction-row-reverse {
    flex-direction: row-reverse
}

.direction-column {
    flex-direction: column
}

.direction-column-reverse {
    flex-direction: column-reverse
}

.align-start {
    align-items: flex-start
}

.align-end {
    align-items: flex-end
}

.align-end [class*="col-"] {
    vertical-align: bottom
}

.align-center {
    align-items: center
}

.align-center [class*="col-"] {
    vertical-align: middle
}

.align-baseline {
    align-items: baseline
}

.align-content-start {
    align-content: flex-start
}

.align-content-end {
    align-content: flex-end
}

.align-content-end [class*="col-"] {
    vertical-align: bottom
}

.align-content-center {
    align-content: center
}

.align-content-space-between {
    align-content: space-between
}

.align-content-space-around {
    align-content: space-around
}

.align-self-stretch {
    align-self: stretch
}

.align-self-start {
    align-self: flex-start
}

.align-self-end {
    align-self: flex-end;
    vertical-align: bottom
}

.align-self-center {
    align-self: center;
    vertical-align: middle
}

.align-self-baseline {
    align-self: baseline;
    vertical-align: baseline
}

.justify-start {
    justify-content: flex-start
}

.justify-start.grid {
    text-align: left
}

.justify-end {
    justify-content: flex-end
}

.justify-end.grid {
    text-align: right;
    text-align-last: right
}

.justify-end.grid [class*="col-"] {
    text-align: left;
    text-align: start;
    text-align-last: left;
    text-align-last: start
}

.justify-center {
    justify-content: center
}

.justify-center.grid {
    text-align: center;
    text-align-last: center
}

.justify-center.grid [class*="col-"] {
    text-align: left;
    text-align: start;
    text-align-last: left;
    text-align-last: start
}

.justify-space-between {
    justify-content: space-between
}

.justify-space-between.grid {
    text-align: justify;
    text-align-last: justify
}

.justify-space-between.grid [class*="col-"] {
    text-align: left;
    text-align: start;
    text-align-last: left;
    text-align-last: start
}

.justify-space-around {
    justify-content: space-around
}

.justify-space-around.grid {
    text-align: justify;
    text-align-last: justify
}

.justify-space-around.grid [class*="col-"] {
    text-align: left;
    text-align: start;
    text-align-last: left;
    text-align-last: start
}

.grid-bleed [class*="col-"] {
    padding: 0
}

.col-grid {
    display: flex;
    flex-direction: column
}

.col-grid.direction-row {
    flex-direction: row
}

.col-bleed {
    padding: 0
}

.col-bleed-x {
    padding: var(--grid-spacing-h) 0
}

.col-bleed-y {
    padding: 0 var(--grid-spacing-h)
}

.flex-img {
    display: block;
    flex: 0 0 auto;
    max-width: 100%;
    height: auto;
    width: 100%
}

.flex-footer {
    width: 100%;
    margin-top: auto;
    margin-bottom: 0
}

.flex-footer>:last-child {
    margin-bottom: 0
}

@media (max-width: 575px) {
    .hidden-xxs {
        display: none
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hidden-xs {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .hidden-lg {
        display: none
    }
}

@media (min-width: 1600px) {
    .hidden-xl {
        display: none
    }
}