/*
Grid usage:

<div class="row">
    <div class="col-6">
        <content>
    </div>
</div>

<div class="row">
    <div class="column col-3">1</div>
    <div class="column col-2">2</div>
    <div class="column col-2">3</div>
    <div class="column col-2">4</div>
    <div class="column col-3">5</div>
</div>
*/


:root {
  --container-max-width: 1200px; /* All site max-width*/
  --wrapper-max-width: 720px; /* Central content max-width (headear and footer not included */
  --grid-spacing: 20px;  /* Space between columns */
  --grid-spacing-n: -20px; /* Space between columns, negative */
  --grid-spacing-h: calc(var(--grid-spacing) / 2); /* Half of space between columns. */

  /*== Breakpoints we can use if we want ==
  --columns: 12;
  --col-xs: 576px;
  --col-sm: 768px;
  --col-md: 992px;
  --col-lg: 1200px;
  --col-xlg: 1600px;
  --col-xxs-max: 575px;
  --col-xs-max: 767px;
  --col-sm-max: 991px;
  --col-md-max: 1199px;
  --col-lg-max: 1599px;
  */
}



.container.progressive {width: 100%; max-width: var(--container-max-width)!important;}
.container,.container-full{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;margin-right:auto;margin-left:auto;padding-right:var(--grid-spacing);padding-left:var(--grid-spacing)}@media (min-width: 576px){.container{max-width:576px}}@media (min-width: 768px){.container{max-width:768px}}@media (min-width: 992px){.container{max-width:992px}}@media (min-width: 1200px){.container{max-width:var(--wrapper-max-width)}}@media (min-width: 1600px){.container{max-width:1600px}}

/*Inspiration for this grid: https://codepen.io/flpwgr/pen/qbMJaY */
.wrapper {
margin:0 auto;
max-width: var(--wrapper-max-width);
}

.row {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    overflow: auto;
  }
  .column {
    min-width: 100%;
    width: 100%;
  }
}


@media screen and (min-width: 767px) {
  .column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
  }
  .row [class*="col-"] {
    padding-left:var(--grid-spacing);
    padding-right:var(--grid-spacing);
  }

  .row {margin-left:var(--grid-spacing-n); margin-right:var(--grid-spacing-n)}

  .col-1 {
    max-width: calc(100% / 12);
  }
  .col-2 {
    max-width: calc(100% / 12 * 2);
  }
  .col-3 {
    max-width: calc(100% / 12 * 3);
  }
  .col-4 {
    max-width: calc(100% / 12 * 4);
  }
  .col-5 {
    max-width: calc(100% / 12 * 5);
  }
  .col-6 {
    max-width: calc(100% / 2);
  }
  .col-7 {
    max-width: calc(100% / 12 * 7);
  }
  .col-8 {
    max-width: calc(100% / 12 * 8);
  }
  .col-9 {
    max-width: calc(100% / 12 * 9);
  }
  .col-10 {
    max-width: calc(100% / 12 * 10);
  }
  .col-11 {
    max-width: calc(100% / 12 * 11);
  }
  .col-12 {
    max-width: calc(100% / 12 * 12);
  }

}


