


 

/*! responsive-nav.js 1.0.40 by @viljamis */

.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  }

  .nav-collapse li {
    width: 100%;
    display: block;
  }

  .js .nav-collapse,
  .js .nav-collapse .dropdown ul {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }

  .nav-collapse.opened,
  .nav-collapse .dropdown.opened ul {
    max-height: 9999px;
  }

  .nav-collapse .dropdown.opened > ul,
  .nav-collapse .dropdown .dropdown.opened > ul {
    position: relative;
  }

  .nav-toggle,
  .dropdown-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    z-index: 11;
  }



/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}





.nav-collapse li {
  float: left;
  width: 100%;
  margin-bottom: 0;
  font-size: 0.9rem;
}



.nav-collapse a {
/*  color: #fff;*/
  text-decoration: none;
  width: 100%;
/*  background: #f4421a;*/
  /*border-bottom: 1px solid rgba(0,0,0, .15);*/
  padding: 0.7em 1em;
  float: left;
}

.nav-collapse a:active {
 /* color: rgba(255,255,255, .5);*/
}



/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */
#nav-button {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
}

button.nav-toggle {
  float: right;
  position: relative;
  display: block;
  width: 29px;
  height: 26px;
  top: calc(50% - 13px); /*half of heigth*/
  background: transparent;
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: var(--color-link);
  font-size: 0;
  transition: all 0.25s ease-in-out;
  overflow: visible;
}
button.nav-toggle:focus{
  box-shadow: none;
  outline: none;
}

button.nav-toggle:before, button.nav-toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.nav-toggle:hover {
  color: var(--color-link-hover);
}

button.nav-toggle.active {
  border-color: transparent;
}
button.nav-toggle.active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
button.nav-toggle.active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}


a.nav-toggle {display:none!important}



/*
.nav-toggle {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
  background: #f00;
}

.nav-toggle:before {
  color: #fff;
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}
*/
/* ------------------------------------------
  MULTIPLE LEVELS
--------------------------------------------- */

.dropdown ul a {
 /* background: var(--color-surface);*/
  padding-left: 2em;
}

.dropdown ul ul a {
  /*background: var(--color-surface);*/
  padding-left: 3em;
}



.dropdown ul {
  background: var(--color-surface);
}

.dropdown ul ul {
  border: 0;
  padding: 0;
}

.dropdown .dropdown.opened .dropdown-toggle {
  background: var(--color-surface);
}

.dropdown-toggle:after {
  content: "+";
  font-size: 1.5em;
  line-height: 0.8;
  float: right;
}

.dropdown.opened > .dropdown-toggle:after {
  content: "–";
}



/* agregado*/
/*
.js-nav-active .container-menu {
    position: fixed;
    background-color: var(--color-primary);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 90;
}


.js-nav-active .container-menu {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.js-nav-active .container-menu .header-nav {

    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
*/


/*
.container {position: relative;}
*/



/*
.js-nav-active .container-menu {width: 100%;}
.js-nav-active #siteinfo,  .js-nav-active #nav-button {width: 50%}
*/

  /*
  .js-nav-active .overlay li {
    -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
            animation-delay: .50s;
  }*/



/*Fixed navigation*/

.fixed-navigation #header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--color-background);
  width: 100%;
  margin-top: 0;
  padding: var(--grid-spacing);
}
.fixed-navigation #inner-header {
  max-width: var(--grid-max-width) !important;
  margin:0 auto;
}

.js-nav-active .fixed-navigation #header {
height: 100%;
padding-left: 0;
padding-right: 0;
}

.js-nav-active .fixed-navigation #inner-header {
  left: 0;
  position: relative;
  height: 100%;

}
.js-nav-active .fixed-navigation #nav-button {
  bottom: initial;
  /*padding-top: var(--grid-spacing);*/
  margin-top: calc(var(--logo-heigth)/2);
  transform: translate(0, -50%);
}
.js-nav-active .fixed-navigation #siteinfo {
top: 0;
position: absolute;
}

.fixed-navigation #content {
  padding-top: calc(var(--logo-heigth)*2);
}

/*
.fixed-navigation #header {
  position: fixed;
  left: 0;

  width: 100%;
  
  background: var(--color-background);
  margin-top: 0;

  z-index: 20!important;

}


.fixed-navigation #inner-header {
  max-width: var(--grid-max-width) !important;

/*background: var(--color-background);*/
/*
}
.js-nav-active .fixed-navigation #inner-header {

}

.js-nav-active .fixed-navigation #header {
  left: initial;
  transform: initial;
  width: auto;
  padding-left: initial;
  padding-right: initial;
  height: 100%;
}

.js-nav-active .fixed-navigation .overlay {
  background: var(--color-background);
}

.*/


/* FULLSCREEN NAVIGATION */







/*
     .container-menu, .fade {
      transition: opacity .35s ease-in-out, visibility .35s ease-in-out, height .35s ease-in-out;
      }*/



      @media screen and (max-width: 767px) {
        .horizontal-navigation .container-menu{
          opacity: 0;
          visibility: hidden;
         
        }
      }
      .full-navigation .container-menu, .overlay{
        opacity: 0;
        visibility: hidden;
       
      }

      .fade, .container-menu, .overlay {
      transition: opacity .35s ease-in-out, visibility .35s ease-in-out;
      }
    .fade{
      opacity: 1!important;
      visibility: visible!important;
  
    }
      .overlay{
            height:100%;
            z-index:10;
            position: fixed;
            background: var(--color-surface);
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
          }

      /*    .js-nav-active .overlay{
            opacity: 1;
            visibility: visible;
            }/

            .overlay, .container-menu, .js-nav-active .container-menu, .js-nav-active .overlay {
              /*transition: 1.35s;
              transition-timing-function: ease-in;*/



    .full-navigation .container-menu{
      width: 80vw;
      max-width: 600px;
      left: 0;bottom: 0;top: 0;right: 0;margin: 0 auto;
      display: flex;           /* establish flex container */
      flex-direction: column;  /* make main axis vertical */
      justify-content: center; /* center items vertically, in this case */
      align-items: center;     /* center items horizontally, in this case */
      position: fixed;
    }
    /*  opacity: 0;
      visibility: hidden;*/
    
 /*   .js-nav-active .full-navigation .container-menu{
      position: fixed;
      opacity:1;
      visibility: visible;
    }*/

@media screen and (max-width: 767px) {
  /*In horizontal-navigation this is limited for mobile only*/
  .horizontal-navigation .container-menu{
  width: 80vw;
  max-width: 600px;
  left: 0;bottom: 0;top: 0;right: 0;margin: 0 auto;display: flex;flex-direction: column;justify-content: center;align-items: center;
  position: fixed;
}
  /*opacity: 0;
  visibility: hidden; */

/*  .js-nav-active .horizontal-navigation .container-menu{
  position: fixed;
  opacity:1;
  visibility: visible;
  }*/

}





/* HORIZONTAL MENU STYLES*/
@media screen and (min-width: 768px) {



  .js-nav-active .horizontal-navigation .overlay {display: none;}
  
  .horizontal-navigation .nav-collapse {
    width: auto;
    float: right;
  }
  .horizontal-navigation .nav-collapse li {
    width: auto;
  }

  .js .horizontal-navigation .nav-collapse,
  .js .horizontal-navigation .nav-collapse .dropdown ul {
    max-height: none;
    overflow: visible;
  }
  .horizontal-navigation .dropdown-toggle:after {
    content: "";
    width: 0;
    height: 0;
    margin: 0.3em 0 0 0.5em;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--color-link);
  }
  .horizontal-navigation .dropdown ul .dropdown-toggle:after {
    content: "";
    width: 0;
    height: 0;
    margin: 0.2em 0 0 0.5em;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid var(--color-link);
    position: absolute;
  }
  .horizontal-navigation .nav-collapse a:hover {
    color: var(--color-link-hover);
  }
  .horizontal-navigation .nav-collapse .dropdown {
    position: relative;
  }
  .horizontal-navigation .nav-collapse .dropdown li {
    width: 100%;
  }
  .horizontal-navigation .nav-collapse .dropdown ul a {
    text-align: left;
    border: 0;
  }
  .js .horizontal-navigation .nav-collapse .dropdown:hover > ul {
    clip: auto;
    position: absolute;
    width: 10em;
    top: 3em;
    left: 0;
    display: block !important;
  }
  .js .horizontal-navigation .nav-collapse .dropdown .dropdown:hover > ul {
    top: 0;
    left: 10em;
  }
  .js .horizontal-navigation .nav-collapse ul > .dropdown:last-child ul {
    left: auto;
    right: 0;
  }

  .js .horizontal-navigation .nav-collapse .dropdown ul {
    display: none;
  }

  .horizontal-navigation .nav-collapse a {
    margin: 0;
    padding: 1em 1.5em;
    float: left;
    text-align: center;
    /*border-bottom: 0;*/
  }

  .js .horizontal-navigation .nav-collapse {
    position: relative!important; /* This !important will fix nav position on resizing */
  }
  .js .horizontal-navigation .nav-collapse.closed,
  .js .horizontal-navigation .nav-collapse.closed .dropdown ul {
    max-height: none;
  }
  .horizontal-navigation .nav-toggle {
    display: none;
  }
}


/*Wordpress links*/
li.current-menu-item a {color:var(--color-link-hover);}