/* -------------------------------------------------------------------------------- */
/*	responsive-nav.js 1.0.40 STYLES
/* -------------------------------------------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
  margin-top: 0;
}

.nav-collapse,
.nav-collapse .dropdown ul {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened,
.nav-collapse .dropdown.opened ul {
  max-height: 9999px;
}

.nav-toggle,
.dropdown-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  z-index: 11;
}


/* ------------------------------------------
  BASE NAVIGATION STYLES
--------------------------------------------- */

.nav-collapse {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}


.nav-collapse li {
  float: left;
  width: 100%;
  margin-bottom: 0;
  font-size: 0.9rem;
}


.nav-collapse a {
  /*  color: #fff;*/
  text-decoration: none;
  width: 100%;
  /*  background: #f4421a;*/
  /*border-bottom: 1px solid rgba(0,0,0, .15);*/
  padding: 0.7em 1em;
  float: left;
}


/* ------------------------------------------
  NAV TOGGLE (HAMBURGER) STYLES
--------------------------------------------- */
#nav-button {
  z-index: 13;
}

#nav-button-container {
  overflow: hidden;
  width: 30px;
  margin-left: auto;
}

/* This will fix a weird translate blur bug*/

button.nav-toggle,
button.nav-toggle:active,
button.nav-toggle:focus {
  background: transparent !important;
}

button.nav-toggle {
  float: right;
  position: relative;
  display: block;
  width: 30px;
  height: 24px;
  top: calc(50% - 12px); /*half of height*/
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: var(--color-link);
  font-size: 0;
  transition: all 0.25s ease-in-out;
  overflow: visible;
  z-index: 13;
  padding: 8px 0;
}

button.nav-toggle:hover {
  cursor: pointer;
}

button.nav-toggle:focus {
  box-shadow: none;
  outline: none;
}

button.nav-toggle:before,
button.nav-toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.nav-toggle:hover {
  color: var(--color-link-hover);
}

button.nav-toggle.active {
  border-color: transparent;
}

button.nav-toggle.active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

button.nav-toggle.active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}


/* ------------------------------------------
  MULTIPLE LEVELS
--------------------------------------------- */

.dropdown ul ul {
  border: 0;
  padding: 0;
}

.dropdown ul a {
  padding-left: 2em;
}

.dropdown ul ul a {
  padding-left: 3em;
}


.dropdown-toggle:after {
  content: "+";
  font-size: 1.5em;
  /*line-height: 0.8;*/
  float: right;
}

@media screen and (min-width: 768px) {

  .dropdown ul,
  .dropdown .dropdown.opened .dropdown-toggle {
    background: var(--color-surface);
  }

  .dropdown.opened>.dropdown-toggle:after {
    content: "";
  }
}

.js-nav-active #header {
  z-index: 12;
}

.js-nav-active .header-nav,
.js-nav-active #inner-header {
  z-index: 13;
  width: 100%;
}




@media screen and (max-width: 767px) {

  .nav-collapse .dropdown.opened>ul,
  .nav-collapse .dropdown .dropdown.opened>ul {
    position: relative;
  }

  .dropdown.opened>.dropdown-toggle:after {
    content: "–";
  }

  /*In horizontal-navigation this is limited for mobile only*/
  .container-menu {
    position: relative;
    top: var(--grid-spacing);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - (var(--logo-height)) - (var(--grid-spacing)) - (var(--grid-spacing)) - (var(--grid-spacing)));
    overflow: auto;
    display: block;
  }

}

.container-menu ul.sub-menu {
  background: var(--color-surface);
}


/* ------------------------------------------
  HORIZONTAL MENU STYLES (768px and +)
--------------------------------------------- */

@media screen and (min-width: 768px) {
  .js-nav-active #inner-header {
    width: auto;
    position: relative;
  }

  .nav-collapse {
    width: auto;
    float: right;
  }

  .nav-collapse li {
    width: auto;
  }

  .js .nav-collapse,
  .js .nav-collapse .dropdown ul {
    max-height: none;
    overflow: visible;
  }

  .dropdown-toggle:after {
    content: "";
    width: 0;
    height: 0;
    margin: 0.4em 0 0 0.5em;
    border: solid var(--color-link);
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .dropdown ul .dropdown-toggle:after {

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .nav-collapse a:hover {
    color: var(--color-link-hover);
  }

  .nav-collapse .dropdown {
    position: relative;
  }

  .nav-collapse .dropdown li {
    width: 100%;
  }

  .nav-collapse .dropdown ul a {
    text-align: left;
    border: 0;
  }


  /*START Hover and click navigation (for keybord compatibility).*/
  .js .nav-collapse .dropdown:hover>ul,
  .js .nav-collapse .dropdown.opened>ul {
    clip: auto;
    position: absolute;
    width: 11em;
    top: 2.72em;
    left: 0;
    display: block !important;
  }

  .js .nav-collapse .dropdown .dropdown:hover>ul,
  .js .nav-collapse .dropdown .dropdown.opened>ul {
    top: 0;
    left: 11em;
  }

  .js .nav-collapse .dropdown:last-child .dropdown:hover>ul,
  .js .nav-collapse .dropdown:last-child .dropdown.opened>ul {
    right: 10em;
    left: auto;
  }

  /*END Hover and click navigation*/

  .js .nav-collapse ul>.dropdown:last-child ul {
    left: auto;
    right: 0;
  }

  .nav-collapse a {
    margin: 0;
    padding: 0.6em 1em;
    float: left;
    text-align: center;
  }

  .js .nav-collapse {
    position: relative !important;
    /* This !important will fix nav position on resizing */
  }

  .js .nav-collapse.closed,
  .js .nav-collapse.closed .dropdown ul {
    max-height: none;
  }

  #nav-button {
    display: none;
  }
}


/* ------------------------------------------
  FADE TRANSITION
--------------------------------------------- */
@media screen and (max-width: 767px) {

  .container-menu,
  .container-menu ul.sub-menu {
    opacity: 0;
    visibility: hidden;
  }

  .container-menu ul.sub-menu {
    position: relative;
    height: 0;
  }


}

.fade,
.container-menu.fade,
.container-menu ul>li.opened>ul.sub-menu,
.container-menu ul>li.opened>ul.sub-menu>li.opened>ul.sub-menu {
  opacity: 1;
  visibility: visible;
}

.container-menu ul>li.opened>ul.sub-menu,
.container-menu ul>li.opened>ul.sub-menu>li.opened>ul.sub-menu {
  height: auto;
}


.fade,
.container-menu,
.container-menu ul.sub-menu,
.container-menu .dropdown-active ul.sub-menu,
.overlay {
  transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 768px) {
  .container-menu ul.sub-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  .container-menu li.dropdown:hover ul.sub-menu,
  .container-menu li.dropdown ul.sub-menu li.dropdown:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
}


/*FIXED NAVIGATION*/
.fixed-navigation #header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: #fff;
  padding: var(--grid-spacing);
}

.admin-bar.fixed-navigation #header {
  top: 46px;
}

@media screen and (max-width: 782px) {
  html .admin-bar.fixed-navigation #wpadminbar {
    position: fixed;
  }
}

@media screen and (min-width: 782px) {
  .admin-bar.fixed-navigation #header {
    top: 32px;
  }
}

.fixed-navigation #header #inner-header {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.js-nav-active .fixed-navigation #header {
  bottom: 0;
}

.fixed-navigation #container {
  padding-top: calc(var(--logo-height) + var(--grid-spacing) + var(--grid-spacing));
}