/* -------------------------------------------------------------------------------- */
/*	TYPOGRAPHY
/* -------------------------------------------------------------------------------- */

html {
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 14px;
    font-family: var(--font-text), var(--font-fallback);
}

body {
    color: var(--color-text);
}

h1,.h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-display), var(--font-fallback);
    font-weight: 700;
    line-height: 1.1em;
    margin: 0.7em 0;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 19px;
    }
}


h1, .h1 {font-size: 2.488rem; }
h2, .h2 {font-size: 2.074rem; }
h3, .h3 {font-size: 1.728rem; }
h4, .h4 {font-size: 1.44rem; }
h5, .h5 {font-size: 1.2rem; }
h6, .h6 {font-size: 1.0rem;}
body {font-size: 1.1rem;}

@media (min-width: 768px) {
    h1, .h1 {font-size: 3.052rem; }
    h2, .h2 {font-size: 2.441rem; }
    h3, .h3 {font-size: 1.953rem; }
    h4, .h4 {font-size: 1.563rem; }
    h5, .h5 {font-size: 1.25rem; }
    h6, .h6 {font-size: 1.1rem;}
    body {font-size: 1.1rem;}
}



/*LINKS*/
a,
a:visited {
    color: var(--color-link);
}

a:hover,
a:active {
    color: var(--color-link-hover);
}


a,
a:hover,
a:active {
    transition: color 0.3s ease, border 0.3s ease;
}

/* Active item link color in WP navigation menu */
li.current-menu-item a {
    color: var(--color-primary-dark);
  }