/* === Utility classes === */
/* Copy this file on your child theme if you want to add or erase some classes.
Here we use a simple system:
Breakpoint\:status\:attribute\:value. For exemple:
.xs\:hover\:background-color\:primary{background-color:red}
And, in your php file:
class="xs:hover:background-color:primary"
*/

/* For a responsive modifier, you can format classes like this:
    @media (min-width: 576px) {
        .xs\:position\:absolute {position: absolute;}
    }
    and for use it: class="xs:position:absolute"}
*/

/*== MATE THEME UTILITY CLASSES USED (Don't erase this unless you know what are you doing) ==*/
.padding\:0{padding:0}
.padding\:grid{padding:var(--grid-spacing)}
.position\:relative {position: relative}
.padding-top\:grid{padding-top:var(--grid-spacing)}
.padding-bottom\:grid{padding-bottom:var(--grid-spacing)}
.margin-right\:grid{margin-right:var(--grid-spacing)}
.margin-bottom\:grid{margin-bottom:var(--grid-spacing)}
.z-index\:2{z-index:2}
.z-index\:3{z-index:3}
.text-decoration\:none{text-decoration: none;}

/* == OPTIONAL UTILITY CLASSES: YOU CAN ERASE THEM IF YOU DON'T NEED THEM == */
.position\:absolute {position: absolute}

.display\:block{display:block}
.display\:inline-block{display:inline-block}
.display\:none{display:none}

.padding-top\:0{padding-top:0}
.padding-right\:0{padding-right:0}
.padding-bottom\:0{padding-bottom:0}
.padding-left\:0{padding-left:0}
.padding-right\:grid{padding-right:var(--grid-spacing)}

.padding-left\:grid{padding-left:var(--grid-spacing)}

.margin\:0{margin:0}
.margin\:grid{margin:var(--grid-spacing)}

.font\:display{font-family: var(--font-display);}
.font\:text{font-family: var(--font-text);}

.background-color\:primary {background-color: var(--color-primary)}

.text-align\:left{text-align: left;}
.text-align\:center{text-align: center;}
.text-align\:right{text-align: right;}

.z-index\:1{z-index:1}
.z-index\:4{z-index:4}
.z-index\:5{z-index:5}
.z-index\:6{z-index:6}

.clear\:both{clear:both}